.dropdownWrap {
  display: flex;
  align-items: center;
}

.selectWrap {
  position: relative;
  width: 10rem;
  height: 3rem;
}
.select {
  width: 100%;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5rem;
  vertical-align: middle;
  //   display: flex;
  //   align-items: center;
  z-index: 1;
}
.select__downIcon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.3rem;
  cursor: pointer;
}

.icon {
  width: 5rem;

  img {
    width: 100%;
  }
}
