// @import "~bootstrap/scss/bootstrap";

#modalWrap {
  //   position: fixed;
  //   bottom: 0;
}
.modalWrap {
  //   position: fixed;
  //   bottom: 0;
  position: relative;
}
.backdrop {
  position: relative;
  height: 100vh;
}
.myModalDialog {
  //   margin-top: auto;
  position: absolute;
  top: calc(100vh - 20rem - 2rem);
  //   bottom: 0px; //작동안됨
}
.myModalContent {
  height: 20rem;
}
#myModalId .MyModalBackdrop {
  //   background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
}

.confirmBtn {
    width: 20px;
    height: 20px;
    background-color: green;
}

.modalItemsWrap {
  display: flex;
  column-gap: 1rem;
  overflow-x: scroll;
  padding-bottom: 0.5rem;
}

// .modalItemsWrap {
//   -ms-overflow-style: none;
// }
// .modalItemsWrap::-webkit-scrollbar {
//   display: none;
// }

/* HIDE RADIO */
[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.modalItem {
    border: 2px solid lightblue;
    border-radius: 0.5rem;
}

/* IMAGE STYLES */
[type="radio"] + .modalItem {
    cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + .modalItem {
    border: 2px solid red;
    border-radius: 0.5rem;
}
