.selectItem {
    width: 30vw;
    height: 30vw;
    // width: 100px;
    // height: 100px;
    background-color: aqua;
    border-radius: 0.5rem;
    padding: 1rem;
}

.selectItem:hover {
    border: 1px solid red;
}

.selectItem__img {
    width: 100%;
    height: 100%;
}
