.modal {
    height: 40vh;
    // height: 300px;
    // background-color: yellow;
}
#modal {
    // height: 40vh;
    height: 100px;
    background-color: yellow;
}

.confirmBtn {
    width: 20px;
    height: 20px;
    background-color: green;
}

.modalItemsWrap {
    display: flex;
    column-gap: 10px;
    overflow-x: scroll;
}

/* HIDE RADIO */
[type="radio"] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.modalItem {
    border: 2px solid lightblue;
    border-radius: 0.5rem;
}

/* IMAGE STYLES */
[type="radio"] + .modalItem {
    cursor: pointer;
}

/* CHECKED STYLES */
[type="radio"]:checked + .modalItem {
    border: 2px solid red;
    border-radius: 0.5rem;
}
